# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.py[cod]
*$py.class


# =========================================================
# VIRTUAL ENVIRONMENT
# =========================================================

.venv/
venv/
env/


# =========================================================
# ENV FILES
# =========================================================

.env


# =========================================================
# STREAMLIT
# =========================================================

.streamlit/secrets.toml


# =========================================================
# JUPYTER
# =========================================================

.ipynb_checkpoints/


# =========================================================
# VS CODE
# =========================================================

.vscode/


# =========================================================
# OS FILES
# =========================================================

.DS_Store
Thumbs.db


# =========================================================
# LOG FILES
# =========================================================

*.log


# =========================================================
# CACHE
# =========================================================

.cache/
.pytest_cache/
.mypy_cache/


# =========================================================
# BUILD FILES
# =========================================================

build/
dist/
*.egg-info/


# =========================================================
# SQLITE / DATABASE
# =========================================================

*.db
*.sqlite3


# =========================================================
# TEMP FILES
# =========================================================

temp/
tmp/


# =========================================================
# API / SECRET FILES
# =========================================================

secrets.json
credentials.json
service_account.json


# =========================================================
# STREAMLIT GENERATED FILES
# =========================================================

.streamlit/


# =========================================================
# MAC / WINDOWS SYSTEM FILES
# =========================================================

Desktop.ini
ehthumbs.db